# Python
*.pyc
__pycache__/
venv/
.venv/
.env
*.egg-info/
dist/
build/

# FastAPI
db.sqlite3
/staticfiles/
/media/
.mypy_cache/
.pytest_cache/

# Docker/System
*.log
!docker-compose.yml

# IDE
.idea/
.vscode/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl